body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.form-container,
.container {
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.list-container {
    margin-top: 40px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
div.flexie {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 40px;
}
.flexie > * {
    margin-left: 40px;
}

@media screen and (max-width: 668px) {
    .flexie > * {
        margin-left: 0;
    }
}
.button-container {
    text-align: right;
    padding: 0 40px;
}
.horizontal-card {
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
    border-radius: 0 !important;
}
/* .horizontal-card {
    border: none;
} */
div.MuiPaper-elevation1 {
    box-shadow: none;
}

.modal-form-container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
}

#transition-modal-title {
    margin: 0;
}

.user-form > div {
    margin-bottom: 10px;
}

.alert {
    width: 80%;
    padding: 20px 5px;
    max-width: 600px;
    min-width: 100px;
    margin: 40px auto;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.alert-success {
    background-color: #28a745;
    color: #ffffff;
    text-align: center;
}
.alert-danger {
    background-color: #dc3545;
    color: #ffffff;
    text-align: center;
}
